.mdl-tabs__tab-bar span.mdl-badge[data-badge]:after {
    color: #fff;
    margin-right: 0;
}
.mdl-tabs__tab-bar span.mdl-badge {
  margin-right: 0;
}
.mdl-tabs__tab-bar {
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: space-around;
}
.qa-template-user .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  bottom: 1px;
}
.qa-template-user .mdl-tabs__tab-bar a .material-icons {
  width: 25px;
  vertical-align: middle;
}
@media screen and (max-width:414px) {
  .mdl-tabs__tab-bar {
    justify-content: flex-start;
  }
}
.mdl-tabs__tab-bar .mdl-tabs__tab {
  overflow: visible;
}

/* フォロー フォロワー 0 のとき*/
div.mdl-card.no-follows {
  width: 100%;
  margin: 8px 0;
}

/* フォロー、フォロワー一覧のヘッダ */
.user-follows {
  display: block;
  position: relative;
}

.mdl-card__subtitle-text.registering-by {
  font-size: 12px;
  margin-bottom: 12px;
}

@media screen and (max-width: 1024px) {
  .user-follows {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

/* フォローフォロワー数 */
@media (max-width: 839px) and (min-width: 480px) {
  .mdl-cell.mdl-cell--4-col-tablet {
    width: calc(33.3333333333% - 16px);
  }
  .mdl-cell.mdl-cell--4-col-tablet .mdl-card__supporting-text {
    width: unset;
  }
}
@media screen and (max-width: 479px) {
  .mdl-cell.mdl-cell--4-col-phone {
    width: calc(33.3333333333% - 16px);
  }
  .mdl-cell.mdl-cell--4-col-phone .mdl-card__supporting-text {
    width: unset;
  }
}
@media screen and (max-width: 369px) {
  .mdl-cell.mdl-cell--4-col-phone .mdl-card__supporting-text {
    padding: 16px 0;
  }
}

.ex-user {
  display: inline-flex;
  font-size: 14px;
  font-weight: bold;
}

#mute-button-container {
  position: relative;
}

#mute-button-container .mdl-menu__container {
  position: absolute;
}

p.user-detail-about {
  word-break: break-word;
}